.actionSection {
  display: flex;
}

.productCard {
  display: flex;
  border-radius: 1em;
  width: 15em;
  margin-left: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 1em 0.5em;
  margin-top: 1em;
}

.productName {
  font-weight: 700;
}

.productPrice {
  color: #929292;
}

.icon {
  padding: 0em 0.2em;
  color: blue;
}
